
body {

}




.App {
  text-align: center;
  background:linear-gradient(180deg,  rgba(255,255,255,0) 37%, rgba(51,255,222,0.13) 150%);
}

.clock{

}

.timestamp {
  color:#00A480;
}

.clock-button:hover{
cursor:pointer;
}

.inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;

}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}


/* DEFAULT SOUNDS GRID */
.extremely-loud{
  color:#FF00FF;
}

.loud{
  color:red;
}

.not-loud{
  color:#10e5e8;
}

/*  DEFAULT SOUNDS GRID END */


/* SCHEDULE */

.container{
  -webkit-box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.75);

}

.center{
  line-height: 200px;
height: 200px;

text-align: center;
background-color: #fff;
}

.center-text{
  line-height: 1.5;
display: inline-block;
vertical-align: middle;
color:grey;
}

.schedule{
  background-image: url("digital-alarm-clock.gif");
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: right;


}

.text-bottom{
  color:#f50057;
}


/* SCHEDULE END */
@media only screen and (max-width: 768px ) {
  .schedule{
    background-image: none;
  }



}
